
@import url('https://fonts.googleapis.com/css?family=Faster+One|Rubik+Mono+One');


.jumbotron{
    background-image: url("../Images/90s_mainbanner.jpg");

}


#gamecontent {
    color: #ffffff;
}

.bodycontent {
    font-family: 'Faster One', cursive;

}

body{
    background-image: url("../Images/old_tv.jpg"); 
}

    