@import url('https://fonts.googleapis.com/css?family=Faster+One|Rubik+Mono+One');

    .jumbotron jumbotron-fluid {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        size: 50px;
        padding-top: 5px;
        text-align: center;
        background-image:  url("../Images/90s_mainbanner.jpg");

    }
 
    .gamecontent {
        font-family: 'Rubik Mono One', sans-serif;
    }

    .bodycontent {
        font-family: 'Shadows Into Light', cursive;
    }

    body{
        background-image: url("../Images/old_tv.jpg");
        width: 100px;
        height: auto;
    }
    